<label class="example-radio-group-label">Co chcesz zarejestrować?</label>




<div>
  <br>
  <label class="example-radio-group-label">Wybierz plik który będzie reprezentował Twój wzór przemysłowy</label>
  <form #f="ngForm">
    <input type="file"  name="myFile" (change)="fileEvent($event,f)" multiple/>
  </form>
  <br>
</div>


<a href="https://sarey.pl/dev/rajan/?page_id=21">Chce zarejstrować inny typ wzoru przemysłowego</a><br>
<a href="https://sarey.pl/dev/rajan/?page_id=239">Więcej informacji na temat wzorós przemysłowych</a><br>

<label class="example-radio-group-label">Gdzie chcesz zarejestrować wzór przemysłowy?</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="areaRegistered">
  <mat-radio-button class="example-radio-button" *ngFor="let area of areas" [value]="area">
    {{area}}
  </mat-radio-button>
</mat-radio-group>
<br>

<h2 style="text-align: center">Znajdź Towar</h2>
<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Wyszukaj towary które chcesz objąć ochroną">
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" matSort matSortStart="desc" (matSortChange)="customSort($event)">
  <ng-container matColumnDef="classNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Klasa </th>
    <td mat-cell *matCellDef="let element" (click)="handleClick(element.baseNumber)"> {{element.classNumber}} </td>
  </ng-container>


  <ng-container matColumnDef="products">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Wykaz Towarów </th>
    <td mat-cell *matCellDef="let element"> {{element.products}} </td>
  </ng-container>

  <ng-container matColumnDef="add">
    <th mat-header-cell *matHeaderCellDef> Dodaj </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="handleAdd(element.products, element.classNumber, element.baseNumber)">
        <mat-icon class="mat-18">add</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]">
</mat-paginator>

<div [hidden]="noProductsSelected" style="margin: 0 0 30px 0">
  <div style="display:inline-block;">
    <p >{{sumUpText}}</p>
    <p *ngFor="let obj of sumUpObjects">{{obj}}</p>
  </div>
  <div style="display:inline-block;">
    {{price}}
  </div>

</div>


<button (click)="handleNext()">Dalej</button>
